@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  border-bottom: 2px solid #F9F9F9;
}

.header__middle {
  padding: 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact li {
  padding-right: 38px;
}

.contact a {
  color: #151515;
}

.contact a:hover {
  color: #6A983C;
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menu li {
  padding: 0 0 0 38px;
}

.nav__menu a {
  color: #151515;
}

.nav__menu a:hover {
  color: #6A983C;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F9F9;
  max-height: 42px;
  border-radius: 12px;
}

.search-bar__list {
  max-height: 23px;
  width: 120px;
}

.search-bar__list.is-active li {
  display: block;
  -webkit-animation: fading 0.3s forwards;
          animation: fading 0.3s forwards;
}

@-webkit-keyframes fading {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}

@keyframes fading {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}

.search-bar__item {
  display: none;
  background-color: #F9F9F9;
}

.search-bar__item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-bar__item:nth-child(2) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search-bar__item:hover {
  background-color: #6A983C;
}

.search-bar__item:hover a {
  color: #fff;
}

.search-bar__link {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  padding: 10px 15px;
  color: #151515;
}

.search-bar__title {
  font-size: 16px;
  font-weight: 700;
  font-family: "popins,", sans-serif;
  line-height: 23px;
  font-style: normal;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-bar__title img {
  position: absolute;
  top: 50%;
  right: -25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-bar__title.is-active img {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.search-bar__input {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  padding: 3px 0 3px 24px;
  margin-left: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 1px solid #d1d1d1;
  width: 230px;
  color: #d1d1d1;
}

.search-bar__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__input::placeholder {
  font-size: 14px;
  font-weight: 400px;
  font-family: "Open Sans", sans-serif, sans-serif;
  line-height: 19px;
  font-style: normal;
  color: #d1d1d1;
}

.search-bar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.search-bar__btn img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search-bar__btn.is-active img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.system__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.system__item {
  margin-left: 40px;
  position: relative;
}

.system__count {
  font-size: 12;
  font-weight: 600;
  font-family: "popins,", sans-serif;
  line-height: 18px;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #E5704b;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  min-height: 16px;
}
