* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Poppins', sans-serif;
}
.container {
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 45px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
